.file-processor-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
  }
  
  .status-message {
    margin-top: 15px;
    color: green;
  }
  
  

  .danger {
    color: red;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  